* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.btn {
  font-size: 16px;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  border-radius: 4px;
  line-height: 24px;
  padding: 0 10px;
  min-width: 40px;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
}

.left {
  float: left;
  position: fixed;
  overflow-y: auto;
  background: #c8daff;
  width: 250px;
  height: 100vh;
  padding: 15px;
}

.search {
  margin: 10px;
}

.item {
  padding: 5px;
  cursor: pointer;
}

.item:hover {
  background: #cccccc;
}

.main {
  margin-left: 260px;
  overflow: auto;
  padding: 20px 10px;
}

.sum {
  border: 1px dashed black;
  margin: 0 10px 10px 260px;
  padding: 5px;
}

.main .item {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 5px 3px;
  width: 100px;
  text-align: center;
  word-break: break-all;
  margin: 5px;
}

.main .block {
  width: 120px;
  height: 76px;
  position: relative;
}

.block .time {
  position: relative;
  left: 50%;
  border-left: 1px solid black;
  padding-left: 10px;
  height: 18px;
}

.block .line {
  position: relative;
  height: 36px;
}

.row .amount {
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  height: 18px;
}

.line .amount::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid black;
}

.line:first-child .amount::after {
  border-top: none;
}